h1 {
  font-family: 'Raleway', sans-serif;
  padding: 100px 100px 5px 200px;
  font-size: 60px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  padding: 5px 100px 200px 200px;
  font-size: 45px;
}

p {
  font-family: 'Poiret One', cursive;
  font-size: 26px;
  padding: 20px 400px 200px 200px;
}
